<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
  <style>
    body { background-color: #fdf0d5; }
  </style>
</head>
<body>

  <div class="container text-center mt-3">
    <h2>Deepfake Detection Reading Group</h2>
  </div>

  <div class="container mt-3">
    <p>
      We meet every two weeks to discuss papers on deepfake detection.
      Each session features either a paper someone found interesting or an invited speaker presenting their own work (invited talks are denoted by <i class="bi bi-bookmark-star-fill"></i> below).
      Sessions are informal, we often dive straight into the paper together, so as a speaker there is little to prepare.
      If you'd like to attend or present, feel free to join <a href={{ mailing_list_url }}>our mailing list</a>.
    </p>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 gy-2">
      <div class="col">
        <div class="label text-secondary">When</div>
        <div>{{ schedule }}<br>{{ time }}</div>
        <a target="_blank" href="{{ calendar_url }}" class="d-inline-block"><img border="0"
            src="https://calendar.google.com/calendar/images/ext/gc_button1_en.gif" alt="Google Calendar"></a>
      </div>
      <div class="col">
        <div class="label text-secondary">Where</div>
        <div><a href="{{ where_url }}">Online (Google Meet)</a></div>
      </div>
      <div class="col">
        <div class="label text-secondary">Mailing list</div>
        <div><a href="{{ mailing_list_url }}">Google Group</a></div>
      </div>
      <div class="col">
        <div class="label text-secondary">Notes &amp; resources</div>
        <div><a href="{{ wiki_url }}">Wiki</a></div>
      </div>
    </div>
  </div>

  <div class="container">
    {% for season in seasons %}
    <h3 class="mt-4">
      {{ season.name }}
      <span class="mx-1 fs-4 text-muted"> · </span>
      <span class="fs-4 text-muted"> {{ season.time_range[0] }} – {{ season.time_range[1] }}</span>
    </h3>

    {% for p in season.presentations %}
    <div class="my-3">
    <div>
      {%- if p.type == "invited" %}
      <i class="bi bi-bookmark-star-fill"></i>
      {%- endif %}
      <span class="text-muted">Date:</span> {{ p.date }} ·
      <span class="text-muted">Speaker:</span> {{ p.presenter }}
    </div>
    {%- for paper in p.papers %}
    <div>
      {%- if paper.authors.endswith(', et al.') %}
      {{ paper.authors[:-8] }}, <em>et al.</em>
      {%- else %}
      {{ paper.authors }}
      {%- endif %}
      <a href="{{ paper.url }}">{{ paper.title }}.</a>
      {%- if paper.venue_suffix %}
      <em>{{ paper.venue_name }}</em>{{ paper.venue_suffix }}.
      {%- else %}
      {{ paper.venue_name }}.
      {%- endif %}
    </div>
    {%- endfor %}
    </div>
    {% endfor %}

    {% endfor %}
  </div>

</body>

</html>